.collection {
    .collection-header {
        display: flex;
        flex-direction: row;   
        align-items: center;
        
        h4 {
            margin-right: auto;
        }
    }

    .collection-item {
        display: flex;
        flex-direction: row;

        .employee-info {
            display: flex;
            flex-direction: column;
            margin-right: auto;
        }
    }
}

.employee-create {
    .header {
        display: flex;
        align-items: center;

        .card-title {
            margin-right: auto;
        }

        // .btn-flat {
        //     co
        // }
    }
}